body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#map {
  height: 400px; 
  width: 100%; 
}

.driving-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.mark-container{
  display: flex;
  position: relative;
  bottom:400px;
  flex-wrap: wrap;
  justify-content: left;
  padding: 20px;
  flex-direction: column;
  margin-right:230px;
}

.mark-destination{
  width:120px;
  position: relative;
  background-color:rgb(220,114,93);
  color:white;
  font-weight: bold;
  border-radius:10px;
  text-align: center;
  padding:10px;
  margin-bottom: -15px; 
}

.mark-destination p,
.mark-dedtination span{
  font-size:30px;
  margin:15px;
  margin-bottom:0px;
  margin-left:8px;
}

.mark-destination span{
  font-size:15px;
  margin-top:1px;
}

.mark-distance{
  width: 80px;
  height:30px;
  background-color: #BF6350;
  color:white;
  border-radius:10px;
  text-align: center;
  line-height:45px;
  padding:10px;
}

.mark-destination p::before,
.mark-distance h4::before {
  content: "\2192 "; /* 화살표(→) 코드 */
}

.mark-destination p,
.mark-distance h4 {
  display: inline; 
  height:10px;
}

/*하단 바*/

.directions-container {
  display: flex;
  width:380px;
  height:250px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px;
  margin-top:30px;
  background-color: #474946;
  border-radius: 15px;
  margin-bottom: -15px; 

}

/*
 .direction-card {
  display:flex;
  width: 300px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
*/

.directions-container .direction-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height:150px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.directions-container .direction-card h4 {
  margin: 0;
  border-bottom: 1px solid #ccc;
}

.directions-container .direction-card p{
  position:relative;
  top:80px;
  font-weight:bold;
  font-size:15px;
}

.direction-card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 70px;
  height: 70px;
  bottom:120px;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); /* 이미지 높이를 조정하세요 */
  border-radius:100px;
}

.direction-card-image img {
  max-width: 100%;
  max-height: 100%;
  width:20x;
}

.direction-card-image2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 70px;
  height: 70px;
  bottom:120px;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); /* 이미지 높이를 조정하세요 */
  border-radius:100px;
}

.direction-card-image2 img {
  max-width: 100%;
  max-height: 100%;
  width:35x;
}

.direction-spot{
  display:flex;
}

.direction-spot img{
  max-width: 30px;
  max-height: 30px;
  margin-top:12px;
}

.direction-spot p{
  position:relative;
  color:white;
}

.bar-container{
  display: flex;
  /*flex-direction: ;*/
  align-items: center;
  padding: 20px;
  background-color:#202525;
  height:10px;
  width:380px;
}

.bar-container img{
  max-width: 30px;
  max-height: 30px;
  margin-top:12px;
}

.bar-contents{
  color:#ffffff;
  padding:60px;
}

.bar-contents2{
  color:#ffffff;
  padding:40px;
}

@media only screen and (max-width: 768px) {
  .driving-container {
    padding: 10px;
  }
}