body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.body-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

#map {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

.search-container {
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


form {
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  height: 40px;
  margin-bottom: 800px;
  z-index: 9999 !important;
}

img {
  width: 22px;
}

#voice_button {
  display: flex;
  justify-content: right;
  align-items: right;
  float: right;
  padding: 10px;
  border: none;
  background-color: #fff;
  height: 0px;
}

input[type="text"] {
  justify-content: center;
  align-items: center;
  float: left;
  width: 90%;
  height: 10px;
  padding: 15px;
  border-radius: 3px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.button_container {
  display: flex;
}

/*
button[type="submit"] {
  background-color: rgb(220,114,93);
  color: white;
  padding: 7px 20px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #FECB68;
}
*/

.menu {
  display: none; /* 초기에는 메뉴바를 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(220, 114, 93);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  z-index: 9999;
}

.menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.menu li {
  margin-bottom: 20px;
  list-style-type: none;
  list-style: none;
}

.menu li:last-child {
  margin-bottom: 0;
}

.menu li a {
  color: #fff;
  font-size: 15px;
  text-decoration-line: none;
  text-decoration: none;
}

/*
hr {
  display: block;
  height:1px;
  width:100%;
  border:0;
  border-top:1px solid #fff;
  margin-top:200px;
  margin-bottom:10px;
}
*/

/* nav-wrapper 스타일 */
.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px;
}

/* 프로필 스타일 */
.profile {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  border-bottom: 1px solid #fff;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-info h2 {
  font-size: 13px;
  color: #fff;
  margin: 0;
}

/* 햄버거 메뉴 스타일 */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 10000;
}

.hamburger-menu .bar {
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

/* 햄버거 메뉴 클릭시 메뉴바 나타내기 */
.menu.active {
  display: flex;
  width: 250px;
}

/*
.hamburger-menu.active .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
*/

/*

.close-menu {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  top: 0;
  left: 0;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
}
*/


@media (max-width: 768px) {
  form {
    max-width: 700px;
    max-height: 1000vh;
  }

  .menu {
    width: 100%;
    left: -100%;
  }

  .menu.active {
    left: 0;
  }
}
