.searchBarWrap {
  position: absolute;
  top: 3%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  left: 0;
  right: 0;
  z-index: 3;
}
.searchBar {
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-width: 332px;
  width: 50%;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.icon:hover {
  cursor: pointer;
  opacity: 0.5;
}
.nav {
  position: absolute;
  top: 0;
  bottom: 0;
  min-width: 300px;
  max-width: 300px;
  left: -300px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  z-index: 4;
  transition: 0.33s;
  padding: 44px;
  box-sizing: border-box;
}
.nav_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
  display: none;
}
.nav_h2 {
  font-weight: bolder;
  font-size: 1.1rem;
  padding: 10px 0 45px 0;
  border-bottom: 1px solid #d8d8d8;
  text-align: center;
}
.nav_ul > li {
  margin-top: 22px;
  font-weight: bold;
  padding: 7px 2px;
}
.nav_ul > li:hover {
  cursor: pointer;
  background: linear-gradient(to right, #eb8979, #ffffff);
  transition: 0.33s;
}
.add_group_dialog_wrap {
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 730px;
  padding: 0;
  border-radius: 5px;
}
input[type="checkbox"] {
  display: none;
}
.checkbox_label {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #cd5c4a;
}
.distance_wrap {
  align-self: auto;
  background-color: #ec6a56;
  border-radius: 10px;
  margin-top: 5px;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
}
.bottom_nav_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.bottom_nav {
  min-width: 360px;
  background-color: #474946;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: space-around;
  padding: 14px;
  gap: 14px;
}
.bottom_nav > div {
  justify-content: center;
  align-items: center;
  width: 160px;
  background-color: #f6f6f6;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.bottom_nav > div > h3 {
  font-weight: bold;
}
.bottom_nav > div > p {
  align-self: center;
}
.reset_button {
  z-index: 1;
  bottom: 180px;
  right: 10px;
  position: fixed;
  border: 1px solid black;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 40px;
  height: 40px;
}
.reset_button:hover {
  cursor: pointer;
  background-color: #474946;
}
