.onboard_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.onboard_logo {
  width: 200px;
  height: 200px;
  animation: opacity 1.5s ease-in;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
